@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #13141f;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}
